{% extends 'archivo/base.html' %}

{% block content %}
    <div class="archivo">
        {% if archivo.id %}
            <div class="date">
                {{ archivo.id}}
            </div>        
        {% endif %}
        <font style="font-size: 30px;"><label>
        <a class="square_btn" href="{% url 'archivo_edit' pk=archivo.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="square_btn" href="{% url 'archivo_delete' pk=archivo.id %}"><span class="glyphicon glyphicon-trash"></span></a> 
        <br></br>       
        <h3>Imagen: {{ archivo.link }}</h3>
        <h3>Nro. Incidente: {{ archivo.incidente.nro_incidente|linebreaksbr }}</h3>
        <h3>Póliza: {{ archivo.incidente.poliza.nro_poliza|linebreaksbr }}</h3>
        <h3>Matrícula: {{ archivo.incidente.poliza.vehiculo.matricula|linebreaksbr }}</h3>
        <h3>Nombre: {{ archivo.incidente.poliza.cliente.nombre|linebreaksbr }}</h3>
        <h3>Cédula de identidad: {{ archivo.incidente.poliza.cliente.cedula|linebreaksbr }}</h3>
    </div>
    </div>
{% endblock %}

