{% extends 'vehiculo/base.html' %}

{% block content %}
    <div class="vehiculo">
        {% if estado.id %}
            <div class="date">
                {{ vehiculo.matricula}}
            </div>        
        {% endif %}
        <font style="font-size: 30px;"><label>
        <a class="square_btn" href="{% url 'vehiculo_edit' pk=vehiculo.matricula %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="square_btn" href="{% url 'vehiculo_delete' pk=vehiculo.matricula %}"><span class="glyphicon glyphicon-trash"></span></a>        
        <h3>Matrícula: {{ vehiculo.matricula }}</h13>
    </div>
{% endblock %}

