{% extends 'poliza/base.html' %}

{% block content %}
    <div class="poliza">
        {% if poliza.nro_poliza %}
            <div class="date">
                {{ poliza.nro_poliza}}
            </div>        
        {% endif %}
        <a class="btn btn-default" href="{% url 'poliza_edit' pk=poliza.nro_poliza %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'poliza_delete' pk=poliza.nro_poliza %}"><span class="glyphicon glyphicon-trash"></span></a>        
        <h1>{{ poliza.nro_poliza }}</h1>
        <p>{{ poliza.nombre|linebreaksbr }}</p>
    </div>
{% endblock %}
