{% load static %}
<html>
    <head>
        <title>Estados</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/denuncia.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}"/>
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'estado_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/estado/">Estados</a></h1>
        </div>
        <div class="content container">
            <a href="/seguimiento"><img src="{% static 'css/boton_seguimientos.png' %}"/></a>
            <br></br>
            <!--a href="/incidente"><img src="{% static 'css/boton_incidente.png' %}" width="200" height="50"/></a>
            <br></br-->
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>