{% extends 'estado/base.html' %}

{% block content %}
    <div class="estado">
        {% if estado.id %}
            <div class="date">
                {{ estado.id}}
            </div>        
        {% endif %}
        <a class="btn btn-default" href="{% url 'estado_edit' pk=estado.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'estado_delete' pk=estado.id %}"><span class="glyphicon glyphicon-trash"></span></a>        
        <h1>{{ estado.id }}</h1>
        <p>{{ estado.tipo|linebreaksbr }}</p>
    </div>
{% endblock %}
