{% extends 'comentario/base.html' %}

{% block content %}

	<table class='table'>
		<tr>
			<th>Fecha</th><th>Incidente</th><th>Estado</th><th>Poliza</th><th>Vehiculo</th><th>Cliente</th><th>Cedula cliente</th><th>Usuario</th><th>Comentario</th>
        </tr>
		{% for comentario in comentarios %} 
			<tr>
				<td> <a href="{% url 'comentario_detail' pk=comentario.id %}">{{ comentario.fecha }}</a></td>
				<td>{{comentario.incidente.nro_incidente }} </td>
				<td>{{comentario.incidente.estado}} </td>
				<td>{{comentario.incidente.poliza.nro_poliza }} </td>
				<td>{{comentario.incidente.poliza.vehiculo.matricula }} </td>
				<td>{{comentario.incidente.poliza.cliente.nombre }} </td>
				<td>{{comentario.incidente.poliza.cliente.cedula }} </td>
				<td>{{comentario.incidente.usuario.nombre }} </td>
				<td>{{comentario.comentario }} </td>
			</tr>	
		{% endfor %}			
	</table>	
	
	
{% endblock %}
