{% extends 'comentario/base.html' %}

{% block content %}
    <div class="comentario">
        {% if comentario.id %}
            <div class="date">
                {{ comentario.id}}
            </div>        
        {% endif %}


        <font style="font-size: 30px;"><label>
        <a class="square_btn" href="{% url 'comentario_edit' pk=comentario.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="square_btn" href="{% url 'comentario_delete' pk=comentario.id %}"><span class="glyphicon glyphicon-trash"></span></a>    
        <br></br> 
        <h3>Fecha: {{ comentario.fecha|linebreaksbr }}</h3>
        <h3>Nro. Incidente: {{ comentario.incidente.nro_incidente|linebreaksbr }}</h3>
        <h3>Estado: {{ comentario.incidente.estado|linebreaksbr }}</h3>
        <br> 
        <h3>Nro. Póliza: {{ comentario.incidente.poliza.nro_poliza|linebreaksbr }}</h3>
        <h3>Matricula: {{ comentario.incidente.poliza.vehiculo.matricula }}</h3>
        <h3>Nombre: {{ comentario.incidente.poliza.cliente.nombre|linebreaksbr }}</h3>
        <h3>Cédula de identidad: {{ comentario.incidente.poliza.cliente.cedula|linebreaksbr }}</h3>
        <br>
        <h3>Usuario: {{ comentario.incidente.usuario.nombre|linebreaksbr }}</h3>
        <h3>Comentario: {{ comentario.comentario|linebreaksbr }}</h3>
        <h3>Fecha: {{ comentario.incidente.fecha_mod|linebreaksbr }}</h3>
    </div>
{% endblock %}


