{% load static %}
<html>
    <head>
        <title>Incidentes</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/denuncia.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}"/>
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'incidente_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/incidente">Incidentes</a></h1>
        </div>
        <a href="/seguimiento"><img src="{% static 'css/boton_seguimientos.png' %}"/></a>
        <br></br>
        <a href="/archivo"><img src="{% static 'css/boton_archivo.png' %}" width="290" height="60"/></a>
        <a href="/comentario"><img src="{% static 'css/boton_comentario.png' %}"  width="290" height="75"/></a>
        <a href="/estado"><img src="{% static 'css/boton_estado.png' %}" width="290" height="65"/></a>
        <br></br>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>