{% extends 'incidente/base.html' %}

{% block content %}
	<div class="incidente">
	<table class='table'>
		<tr>
			<th>Nro_incidente</th><th>Estado</th><th>Fecha_incidente</th><th>Poliza</th><th>Vehiculo</th><th>Pro_nombre</th><th>Pro_cedula</th>
		</tr>
		{% for incidente in incidentes %} 
			<tr>
				<td> <a href="{% url 'incidente_detail' pk=incidente.nro_incidente %}">{{ incidente.nro_incidente }}</a></td>
				<td>{{ incidente.estado.tipo }} </td>
				<td>{{ incidente.fecha_incidente }} </td>
				<td>{{ incidente.poliza.nro_poliza }} </td>
				<td>{{ incidente.poliza.vehiculo.matricula }} </td>
				<td>{{ incidente.poliza.cliente.nombre|linebreaksbr }}</td>
        		<td>{{ incidente.poliza.cliente.cedula|linebreaksbr }}</td>

			</tr>	
		{% endfor %}			
	</table>	
	</div>
	
{% endblock %}



