{% extends 'seguimiento/base.html' %}

{% block content %}
         
        <div class="contenedor">
            <div class="titulo">MENÚ GESTIÓN</div>
            <div id="pestanas">
                <ul id=lista>
                    <li id="pestana1"><a href='javascript:cambiarPestanna(pestanas,pestana1);'>Denunica</a></li>
                    <li id="pestana2"><a href='javascript:cambiarPestanna(pestanas,pestana2);'>Archivos</a></li>
                    <li id="pestana3"><a href='javascript:cambiarPestanna(pestanas,pestana3);'>Datos Tercero</a></li>
                    <li id="pestana4"><a href='javascript:cambiarPestanna(pestanas,pestana4);'>Comentario</a></li>
                    <li id="pestana5"><a href='javascript:cambiarPestanna(pestanas,pestana5);'>Usuario</a></li>
                    <li id="pestana6"><a href='javascript:cambiarPestanna(pestanas,pestana6);'>Estado</a></li>
                </ul>
            </div>
            
            <body onload="javascript:cambiarPestanna(pestanas,pestana1);">
       
            <div id="contenidopestanas">
                <div id="cpestana1">
                   <tr>
                    <td> <!--a href="{% url 'incidente_detail' pk=incidente.nro_incidente %}"></a--><label>Número de Incidente: {{ incidente.nro_incidente }}</label></td>
                    <p><label> Fecha incidente: </label> {{ incidente.fecha_incidente }} 
                    <br></br>
                    <p><label> Estado: </label> {{ incidente.estado.tipo }} 
                    <br></br>
                    <p><label> Póliza: </label> {{ incidente.poliza.nro_poliza }} 
                    <p><label> Matricula: </label> {{ incidente.poliza.vehiculo.matricula|linebreaksbr }} 
                    <p><label> Contrantante: </label> {{ incidente.pro_nombre }} 
                    <p><label> CI: </label> {{ incidente.pro_cedula }} 
                    <br></br>
                    <p><label> Chofer: </label> {{ incidente.pro_nombre|linebreaksbr }}
                    <p><label> CI. Chofer: </label> {{ incidente.pro_cedula|linebreaksbr }}
                    <p><label> Vto. Libreta: </label> {{ incidente.pro_vto_libreta|linebreaksbr }}
                    <p><label> Celulcar: </label> {{ incidente.pro_telefono|linebreaksbr }}
                    <p><label> Correo electrónico: </label> {{ incidente.pro_email|linebreaksbr }}
                    <br></br>
                    <p><h2><label> Descripción Siniestro: </label></h2> 
                    {{ incidente.pro_descripción|linebreaksbr }}
                    <br></br>
                    </tr>   
                </div>
                <div id="cpestana2">
                    {% for archivo in archivos %} 
                        <td> <a href={{ archivo.link }} target="_blank"> Imagen </a>
                        <br></br>
                    {% endfor %}    

                </div>
                <div id="cpestana3">
                    <tr>
                    <td> <a href="{% url 'incidente_detail' pk=incidente.nro_incidente %}"></a><label>Número de Incidente: {{ incidente.nro_incidente }}</label></td>
                    <p><label> Estado: </label> {{ incidente.estado.tipo }} </td>
                    <br></br>
                    <p><label> Aseguradora: </label> {{ incidente.ter_aseguradora|linebreaksbr }}
                    <p>
                    <p><label> Matricula: </label> {{ incidente.ter_matricula|linebreaksbr }}
                    <p><label> Propietario del Vehículo: </label> {{ incidente.ter_propietario|linebreaksbr }}
                    <p><label> Chofer: </label> {{ incidente.ter_nombre_conductor|linebreaksbr }}
                    <p><label> CI. Chofer: </label> {{ incidente.ter_cedula_conductor|linebreaksbr }}
                    <p><label> Celular: </label> {{ incidente.ter_telefono_conductor|linebreaksbr }}

                    </tr>
                </div>
                <div id="cpestana4">
                    {% for comentario in comentarios %} 
                        <p> Fecha: {{comentario.fecha}}
                        <p> Usuario: {{comentario.incidente.usuario}}
                        <p> Comentario: {{comentario.comentario}}
                        <br></br>
                    {% endfor %}  
                </div>
                <div id="cpestana5">
                    <tr>
                   <td> <!--a href="{% url 'incidente_detail' pk=incidente.nro_incidente %}"--><label>Número de Incidente: {{ incidente.nro_incidente }}</label></td>
                    <p><label> Usuario: </label> {{ incidente.usuario.nombre }} </td>
                    </tr>
                
                </div>
                <div id="cpestana6">
                    <tr>
                    <td> <!--a href="{% url 'incidente_detail' pk=incidente.nro_incidente %}"--><label>Número de Incidente: {{ incidente.nro_incidente }}</label></td>
                    <p><label> Estado: </label> {{ incidente.estado.tipo }} </td>
                    </tr>

                </div>
            </div>
        </div>
{% endblock %}

