{% load static %}
<html>
    <head>
        <title>Siniestros</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/denuncia.css' %}">
    </head>
    <body>
        <div class="page-header">
            
            <h1><img src="{% static 'css/denuncia.png' %}" alt="logo" height="190" width="400"  margin-right:"15px"><a href="/">  Seguros S.A.</a></h1>
        </div>
            <h1><a>SI HAY HERIDOS:</a></h1>        
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <h1><img src="{% static 'css/boton emergencia 911.png' %}" alt="logo" height="150" width="150"  margin-right:"15px"><a>  Llamar de inmediato al 911.</a></h1>
                    <h1><img src="{% static 'css/0800.jpg' %}" alt="logo" height="100" width="150"  margin-right:"15px"><a> Realizar la denuncia.</a></h4>
                    <h4>- Brindar asistencia a las personas lesionadas (de acuerdo a sus posibilidades).</h4>
                    <h4>- Quedarse en el lugar del accidente hasta que se presente autoridades competentes.</h4>
                    <h4>- Luego nos comunicaremos con usted.</h4>
                    <p align="right"> 
                    <a class="btn btn-default" href="{% url 'cliente_intro' %}">Finalizar</a>  
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>

<!--
TODO: Se tendria que guardar la informacion del cliente y que hay heridos para ubicarlo despues.

-->