{% load static %}
<html>
    <head>
       
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/denuncia.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        
    </head>
    <body>
        <div class="page-header">
            
            <h1><img src="{% static 'css/denunica_1.png' %}" alt="logo" height="190" width="400"  margin-right:"15px"><a href="/">  Seguros S.A.</a></h1>

        </div>
        <br></br>
            
        <font style="font-size: 70px;"><label>Sigue los siguintes pasos: </label></font>    
        </div>
        <br></br>
        <br></br>
        <br></br>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <font style="font-size: 40px;"><center><label><img src="{% static 'css/boton emergencia 911.png' %}" alt="logo" height="150" width="150"  margin-right:"15px"> Llamar de inmediato al 911.</label></font> 
                    <font style="font-size: 40px;"><center><label><img src="{% static 'css/0800.png' %}" alt="logo" height="100" width="150"  margin-right:"15px"> Realizar la denuncia al 0800.</label></font>
                    <br></br>
                    <font style="font-size: 40px;"><center><label>- Brindar asistencia a las personas lesionadas (de acuerdo a sus posibilidades).</label></font> 
                    <br></br>
                    <font style="font-size: 40px;"><center><label>- Quedarse en el lugar del accidente hasta que se presente autoridades competentes.</label></font> 
                    <br></br>
                    <br></br>
                    <p align="right"> 
                    <a  href="{% url 'cliente_intro' %}" class="square_btn">
                            <i class="fa fa-caret-right"></i><font style="font-size: 45px;"><label>Finalizar</a></font> 
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>

<!--
TODO: Se tendria que guardar la informacion del cliente y que hay heridos para ubicarlo despues.

-->