{% extends 'cliente/base.html' %}

{% block content %}
    <div class="poliza">

    	<h1>Datos de Conductor</h1>

    	 {{ arg.nro_poliza }}


        <form method="POST" class="post-form">{% csrf_token %}
            {{ poliza.nro_poliza }}<br>

            <input type="hidden" id="nro_poliza" name="nro_poliza" value={{ poliza.nro_poliza }}>

            <label>Nombre Conductor</label><input type="text" name="pro_nombre"><br>
            <label>Cédula</label><input type="number" name="pro_cedula"><br>
            <label>Vencimiento Libreta</label><input type="date" name="pro_vto_libreta"><br>
            <label>Teléfono</label><input type="tel" name="pro_telefono"><br>
            <label>Email</label><input type="email" name="pro_email"><br>
            <!--label>Descripción del siniestro</label><input type="text" name="pro_descripción"><br-->
            <label>Descripción del siniestro</label><textarea name="pro_descripción" cols="40" rows="5"></textarea><br>
            <button type="submit" class="save btn btn-default">Guardar</button>
        </form> 

    </div>
{% endblock %}




