{% extends 'denuncia/base.html' %}

{% block content %}
    <div class="form-style-3">

        <h4><label>Póliza Nro. {{ poliza.nro_poliza }}</h4> 
        <h4><label>Nombre: {{ poliza.cliente.nombre }}</h4>

        <form method="POST" class="post-form">{% csrf_token %}
        <fieldset><legend><font color="#fbfafa" style="font-size: 50px;">Datos del Conductor</font></legend>
    
            {{ poliza.cliente.nombre }}

            {{ form.nro_incidente.as_hidden  }}      

            {{ form.poliza.as_hidden }}

            {{ form.hay_heridos.as_hidden }}
            {{ form.hay_terceros.as_hidden }}
            
            <font style="font-size: 23px;"><label>Fecha y Hora de incidente: {{ form.fecha_incidente }}</label> 

            <font style="font-size: 23px;"><span class="required">*</span>Nombre Conductor: {{ form.pro_nombre }}

            <font style="font-size: 23px;"><span class="required">*</span>Cédula Conductor: {{ form.pro_cedula }} 

            <font style="font-size: 23px;"><span class="required">*</span>Vto. licencia conducir: {{ form.pro_vto_libreta }} 

            <font style="font-size: 23px;"><span class="required">*</span>Teléfono: {{ form.pro_telefono }} 

            <font style="font-size: 23px;"><span class="required">*</span>Correo electrónico: {{ form.pro_email }} 
            <!--p><span class="required">*</span>Descripcion del incidente: 
                {{ form.pro_descripción }}<--> 
            <br></br>
            
            <form method="POST" class="post-form">{% csrf_token %}
            <fieldset><legend><span class="required">*</span><b><font color="#fbfafa" style="font-size: 30px;">Descripción del incidente: </font></b></legend>
             {{ form.pro_descripción }} </fieldset>
                    
        
            {{ form.ter_matricula.as_hidden  }} 
            {{ form.ter_aseguradora.as_hidden  }} 
            {{ form.ter_propietario.as_hidden  }} 
            {{ form.ter_nombre_conductor.as_hidden  }} 
            {{ form.ter_cedula_conductor.as_hidden  }} 
            {{ form.ter_telefono_conductor.as_hidden  }} 

            {{ form.estado.as_hidden }}
                 
            {{ form.usuario.as_hidden }} 
            {{ form.fecha_mod.as_hidden }} 
            <br><br> 
            <button type="submit" class="save login101-form-btn">
                            <i class="fa fa-caret-right"></i><font style="font-size: 40px;"><label>Finalizar</button>
        </form> 

    </div>

{% endblock %}


