{% extends 'cliente/base_login_cliente.html' %}

{% block content %}
    

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login101">
				<div class="login101-form-title" >

			</div>
			<br></br>
			</br>
			</br>
			</br>
			</br>
			</br>




    <form method="POST" class="login100-form validate-form">{% csrf_token %}
    	<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
    		<font style="font-size: 50px;">
    			<label class="wrap-input100" >Cédula: </label>
    		</font>
		        		 <font style="font-size: 50px;"> {{ form.cedula }}</font>
		 </div>	

        <!--div>
		<br></br-->
        <!--label><h2>Cédula: </h2></label><input class="input101" type="password" name="pass" placeholder="Ingresar cédula (ej: 12345678)"> 
        {{ form.cedula }} 
        </div-->
        <br></br>
        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">	
		    <font style="font-size: 50px;"><label class="wrap-input100">Matrícula: </label></font>
		        <font style="font-size: 50px;">{{ form.vehiculo }}</font>
		</div>

      	<!--div class="wrap-input101 validate-input m-b-18" data-validate="Username is required">	
        <label><h2>Matricula: </h2></label><input class="input101" type="password" name="pass" placeholder="Ingresar matricula">
        {{ form.vehiculo }} 
        </div-->

        <br></br>
		<div>
		<br></br>
		<br></br>
		<br></br>
		</div>
        <div class="container-login103-form-btn">
		    <button type="submit" class="login102-form-btn"><font style="font-size: 70px;">Ingresar</font></button><br>
		</div>
 
    </form>

			</div>
		</div>
	</div>
	

{% endblock %}



	


				