{% extends 'denuncia/base.html' %}

{% block content %}
    <div class="poliza">

    	<h4>Matrícula: {{ poliza.cliente.vehiculo.matricula }}</h4>
    	<h4>Nombre: {{ poliza.cliente.nombre }}</h4>
    	<h4>Cédula: {{ poliza.cliente.cedula }}</h4>
    	<h4>Póliza Nro: {{ poliza.nro_poliza }}</h4>

    	<p>
        <br></br>

    	<label><h1>Hay heridos ? </h1></label>

        <a class="btn btn-default" href="{% url 'cliente_hayTercero' pk=poliza.nro_poliza %}">No</a>   
        <a class="btn btn-default" href="{% url '911' %}">Si</a>  

    </div>
{% endblock %}
