{% extends 'denuncia/base.html' %}

{% block content %}
    <div class="poliza">

    	<font style="font-size: 25px;"><label>Matrícula: {{ poliza.cliente.vehiculo.matricula }}</font>
        </br>
    	<font style="font-size: 25px;"><label>Nombre: {{ poliza.cliente.nombre }}</font>
        </br>
    	<font style="font-size: 25px;"><label>Cédula: {{ poliza.cliente.cedula }}</font>
        </br>
    	<font style="font-size: 25px;"><label>Póliza Nro: {{ poliza.nro_poliza }}</font>

    	<p>
        <br></br>
        <center><font style="font-size: 110px;"><center><label>Hay <b></b>heridos ? </label></font></center>
        <br></br>
       
        <a class="btn btn-default" href="{% url '911' %}"><font style="font-size: 90px;"><label>SI</a></label></font>
        
        <a class="btn btn-default" href="{% url 'cliente_hayTercero' pk=poliza.nro_poliza %}" ><font style="font-size: 90px;"><label>NO</a></label></font>


    	


    </div>
{% endblock %}



   <!--a class="btn btn-default" href="{% url 'cliente_hayTercero' pk=poliza.nro_poliza %}" ><font style="font-size: 90px;"><label>SI</a></label></font>
        
        <a class="btn btn-default" href="{% url '911' %}"><font style="font-size: 90px;"><label>NO</a></label></font-->

        



  