{% extends 'cliente/base.html' %}

{% block content %}
    <div class="poliza">

    	<h1>Datos Conductor</h1>


        <p><h4><label>Póliza Nro.</label> {{ poliza.nro_poliza }}</h4> 
        <p><h4><label>Nombre:</label> {{ poliza.cliente.nombre }}</h4>

        <form method="POST" class="post-form">{% csrf_token %}

            {{ form.nro_incidente.as_hidden  }}      

            {{ form.poliza.as_hidden }} 

            {{ form.hay_heridos.as_hidden  }} 
            {{ form.hay_terceros.as_hidden  }} 
            
            <p><label>Fecha y Hora de incidente</label>{{ form.fecha_incidente }} 
            <p><label>Nombre Conductor</label>{{ form.pro_nombre }} 
            </p><p><label>Cedula Conductor</label>{{ form.pro_cedula }} 
            <p><label>Vencimiento licencia conducir</label>{{ form.pro_vto_libreta }} 
            <p><label>Telefono</label>{{ form.pro_telefono }} 
            <p><label>Email</label>{{ form.pro_email }} 
            <p><label>Descripcion del incidente</label>{{ form.pro_descripción }} 

            <div>    
            <p>
                <h3 class="tercero">Datos Tercero Involucrado:</h3>
            </p>    
            <p><b>
            <p><label class="tercero">Matricula</label>{{ form.ter_matricula }} 
            <p><label class="tercero">Aseguradora</label>{{ form.ter_aseguradora }} 
            <p><label class="tercero">Es Propietario?</label>{{ form.ter_propietario }} 
            <p><label class="tercero">Nombre Conductor</label>{{ form.ter_nombre_conductor }} 
            <p><label class="tercero">Cedula Conductor</label>{{ form.ter_cedula_conductor }} 
            <p><label class="tercero">Telefono</label>{{ form.ter_telefono_conductor }} 
            </b></p>   
            </div>  

            {{ form.estado.as_hidden }}
                 
            {{ form.usuario.as_hidden }} 
            {{ form.fecha_mod.as_hidden }} 

            <button type="submit" class="save btn btn-default">Guardar</button>
        </form> 

    </div>
{% endblock %}


