{% extends 'denuncia/base.html' %}

{% block content %}
    <div class="poliza">

        <h1>Datos del Conductor</h1>


        <h3>Nombre: {{ poliza.cliente.nombre }}</h3>

        <form method="POST" class="post-form">{% csrf_token %}

            {{ form.nro_incidente.as_hidden  }}      

            {{ form.poliza.as_hidden }}

            {{ form.hay_heridos.as_hidden }}
            {{ form.hay_terceros.as_hidden }}
            
            <p><label>Fecha y Hora de incidente</label>{{ form.fecha_incidente }} 
            <p><label>Nombre Conductor</label>{{ form.pro_nombre }} 
            <p><label>Cedula Conductor</label>{{ form.pro_cedula }} 
            <p><label>Vencimiento licencia conducir</label>{{ form.pro_vto_libreta }} 
            <p><label>Telefono</label>{{ form.pro_telefono }} 
            <p><label>Email</label>{{ form.pro_email }} 
            <p><label>Descripcion del incidente</label>{{ form.pro_descripción }} 


                    
            {{ form.ter_matricula.as_hidden  }} 
            {{ form.ter_aseguradora.as_hidden  }} 
            {{ form.ter_propietario.as_hidden  }} 
            {{ form.ter_nombre_conductor.as_hidden  }} 
            {{ form.ter_cedula_conductor.as_hidden  }} 
            {{ form.ter_telefono_conductor.as_hidden  }} 

            {{ form.estado.as_hidden }}
                 
            {{ form.usuario.as_hidden }} 
            {{ form.fecha_mod.as_hidden }} 
            <br><br> 
            <button type="submit" class="save square_btn">
                            <i class="fa fa-caret-right"></i><font style="font-size: 45px;"><label>Guardar</button>
        </form> 

    </div>

{% endblock %}


