{% extends 'denuncia/base.html' %}

{% block content %}
    <div class="form-style-3">


    <!--div class="poliza"-->

    	<form method="POST" class="post-form">{% csrf_token %}
        <fieldset><legend><font style="font-size: 50px;">Datos del Conductor</legend>

        <!--form method="POST" class="post-form">{% csrf_token %}<-->

            {{ form.nro_incidente.as_hidden  }}      

            {{ form.poliza.as_hidden }} 

            {{ form.hay_heridos.as_hidden  }} 
            {{ form.hay_terceros.as_hidden  }} 
            
            <font style="font-size: 23px;"><label>Fecha y Hora de incidente: {{ form.fecha_incidente }}</label> 
            
            <font style="font-size: 23px;"><span class="required">*</span>Nombre Conductor: {{ form.pro_nombre }} 
            
            <font style="font-size: 23px;"><span class="required">*</span>Cédula Conductor: {{ form.pro_cedula }} 
            
            <font style="font-size: 23px;"><span class="required">*</span>Vto. licencia conducir: {{ form.pro_vto_libreta }} 
           
            <font style="font-size: 23px;"><span class="required">*</span>Teléfono: {{ form.pro_telefono }} 
            
            <font style="font-size: 23px;"><span class="required">*</span>Correo electrónico: {{ form.pro_email }} 
           <br></br>
            <font style="font-size: 23px;"><fieldset><legend><span class="required">*</span><b>Descripción del incidente: </b></legend>
             {{ form.pro_descripción }} </fieldset>

            <div>    
           <br></br>
            <form method="POST" class="tercero">{% csrf_token %}
            <fieldset><legend><font style-2="font-size: 50px;"><h1><b>Datos Tercero Involucrado:</h1></b></legend>
            <!--h3 class="tercero">Datos Tercero Involucrado:</h3-->
            </p>    
            <p><b>
            <p><label class="tercero">Matricula</label>{{ form.ter_matricula }} 
            <p><label class="tercero">Aseguradora</label>{{ form.ter_aseguradora }} 
            <p><label class="tercero">Es Propietario?</label>{{ form.ter_propietario }} 
            <p><label class="tercero">Nombre Conductor</label>{{ form.ter_nombre_conductor }} 
            <p><label class="tercero">Cedula Conductor</label>{{ form.ter_cedula_conductor }} 
            <p><label class="tercero">Telefono</label>{{ form.ter_telefono_conductor }} 
            </b></p>   
            </div>  

            {{ form.estado.as_hidden }}
                 
            {{ form.usuario.as_hidden }} 
            {{ form.fecha_mod.as_hidden }}

            <br><br> 

            <button type="submit" class="save login102-form-btn">
                            <i class="fa fa-caret-right"></i><font style-2="font-size: 55px;"><label>Finalizar</button>
        </form> 

    </div>
{% endblock %}
 

