body {
    background: #efeefa;    
}

.contenedor{
    width: 1080px;
    margin: auto;
    background: #EDEDED;
    color: #142e79;
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}

.contenedor .titulo{
    font-size: 3.5ex;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: -40px;    
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: #121d75;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 3px #5ba4f5;
    border-bottom: dimgray;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: #f4f4fb;
}

#contenidopestanas{
    clear: both;  
    background: #C7C7C7;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px #3528c5;
    width: 1025px;
}
