{% load static %}
<html>
    <head>
       
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/denuncia.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    </head>
    <body>
        <div class="page-header">
            
            <h1><img src="{% static 'css/denunica_1.png' %}" alt="logo" height="190" width="400"  margin-right:"15px"><a href="/">  Seguros S.A.</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>


        
        
        
        
        